# phpstan.neon
parameters:
    level: 6
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Class SimpleMVC\\Response\\HaltResponse extends \@final class Nyholm\\Psr7\\Response#'
        - '#Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage::with\(\)#'
